* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;

  text-transform: capitalize;

  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
}
#main {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1556743595-0c9952ae2645?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2007&q=80);
  background-size: cover;
  position: relative;
  display: flex;
}
#left {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 75px;
  gap: 35px;
  height: 100vh;
  width: 30vw;
  background-color: #f7c9c91e;
}
.con h5 {
  opacity: 0.75;
}
.con h3 {
  border-bottom: 2px solid #fff;

  display: inline-block;
  margin-bottom: 1vh;
  opacity: 0.75;
}
#left .con:nth-child(3) h3 {
  font-size: 3.6vw;
  white-space: nowrap;
  opacity: 1;
}
#left .con:nth-child(3) h5 {
  font-size: 2.3vw;
  white-space: nowrap;
  opacity: 0.85;
}

#right {
  width: 70vw;
  height: 100vh;
  position: relative;
}
#ritems {
  position: absolute;

  top: 40%;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#right h1 {
  font-size: 12vw;
  letter-spacing: 0rem;
  line-height: 0.97;
}
#right h2 {
  font-size: 2.6vw;
  letter-spacing: 0rem;
}
input {
  background-color: transparent;
  /* size: 10vh; */
  border: none;
  font-weight: 600;
  font-size: 1.2vw;
  outline: none;
}
input::placeholder {
  color: #fff;
}
#icons {
  display: flex;
  gap: 1vw;
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 0.5vw;
  border-bottom: 2.8px solid #fff;
}
#icons i {
  font-size: 1.5vw;
}
#navbar {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  top: 0;
  padding: 3.4vw 3vw;
  filter: brightness(1.9);
}
#rnav {
  height: 1vw;
  display: flex;
  gap: 5vh;
  /* background-color: red; */
}
#navbar h2 {
  text-transform: uppercase;

  font-size: 2.4vw;
  font-weight: bold;
}
#rnav h4 {
  font-weight: 500;
  padding-bottom: 1.7vw;
}
h4:hover {
  border-bottom: 2px solid #fff;
}
a {
  color: #fff;
}
h2:hover {
  scale: 1.09;
}
#scroll {
  position: absolute;
  bottom: 0px;
  transform-origin: 0% 50%;
  transform: rotate(-90deg);
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: -35px;
}
#scroll #line {
  width: 85px;
  height: 1.5px;
  background-color: #f59338;
}
#scroll h5 {
  font-size: 0.8vw;
  letter-spacing: 1.69px;
  text-transform: uppercase;
  color: rgba(0, 255, 255, 0.863);
}
